# China Cross-match

This notebook presents cross-match of our candidates produced by iterative convolutional network with two catalogues from China. These two catalogues are:

1. Searching for classical Be stars in LAMOST DR1
    - paper: https://arxiv.org/abs/1505.07290
    - catalogue: http://dr1.lamost.org/doc/vac (Classical B-type emission-line (CBe) stars)
2. A catalogue of early-type emission-line stars and H-alpha line profiles from LAMOST DR2
    - paper: https://arxiv.org/abs/1604.03704
    - catalogue: http://dr2.lamost.org/doc/vac (Early-type emission-line stars)

The cross-matching is done according to spectra designations.

In [1]:
from xmatch import data
from spectraml import xmatch, utils

### Our Candidates

In [2]:
candidates = data.read_candidates('data/candidates-with-metadata.csv')
candidates.shape[0]

12944

In [3]:
candidates.sample(5)

,filename,designation,ra,dec,subclass,mag_r,profile
11170,spec-55951-GAC_060N28_M1_sp01-186.fits,J040407.63+260900.7,61.031829,26.150222,M3,16.72,emission
7947,spec-56309-GAC055N32B1_sp05-055.fits,J034052.91+321606.7,55.220485,32.268542,G5,16.17,emission
10693,spec-55976-GAC_099N04_V5_sp06-023.fits,J064521.45+034220.9,101.339380,3.705819,B6,13.90,emission
10826,spec-56228-GAC113N27B1_sp15-191.fits,J073029.81+275559.2,112.624230,27.933113,M2,16.27,emission
1914,spec-56304-GAC094N27M1_sp07-227.fits,J062413.02+250630.2,96.054291,25.108415,F9,16.85,emission

### C.C. Lin, Searching for Classical Be Stars from the LAMOST DR1

The Lin's catalogue contains 203 spectra. Cross match showed that there are 19 common spectra. 13 emissions and 6 double-peaks as classified by our method. Below are all the spectra's metadata listed.

Note that the designations in Lin's catalogue are taken from 2MASS. This might be problem while cross-matching.

In [4]:
lin_catalogue = data.read_lin_catalogue('data/lin2015tab23.xlsx')
lin_catalogue.shape[0]

203

In [5]:
lin_catalogue.head()

,DR1,Designation,J,Jerr,H,Herr,K,Kerr,Remark,ID
0,558648,J063259.37+045622.5,9.158,0.027,0.027,9.158,0.036,9.087,detected,K01
1,356675,J035358.25+465351.8,9.287,0.022,0.022,9.049,0.028,8.826,detected,K02
2,1542080,J032910.40+312159.2,9.368,0.030,0.030,7.987,0.031,7.173,variant,K03
3,555829,J063337.49+044847.0,9.395,0.024,0.024,8.946,0.023,8.644,poor calibrated,K04
4,567874,J052314.90+374253.6,9.644,0.020,0.020,9.582,0.015,9.475,detected,K05

In [6]:
lin_xmatch = xmatch.xmatch(candidates, lin_catalogue, 'designation', 'Designation')
lin_xmatch.shape[0]

19

In [7]:
lin_xmatch['profile'].value_counts()

emission       13
double-peak     6
Name: profile, dtype: int64

In [8]:
lin_emission_xmatch, lin_double_peak_xmatch = utils.split_according_to_profile(lin_xmatch)
lin_columns = ['designation', 'Designation', 'ID', 'profile', 'Remark']
lin_emission_xmatch[lin_columns]

            designation          Designation   ID   profile            Remark
1   J044440.68+503202.1  J044440.68+503202.1  K22  emission         detected
2   J063337.49+044847.0  J063337.49+044847.0  K04  emission  poor calibrated
5   J065513.76+052554.4  J065513.76+052554.4  K23  emission          detected
6   J044927.22+450443.8  J044927.22+450443.8  K12  emission        low $SNR$
8   J063129.76+045449.1  J063129.76+045449.1  K09  emission        low $SNR$
9   J051427.40+324756.8  J051427.40+324756.8  K13  emission  poor calibrated
10  J035358.25+465351.8  J035358.25+465351.8  K02  emission         detected
11  J070534.82+142831.7  J070534.82+142831.7  K16  emission         detected
12  J075704.21+025655.6  J075704.21+025655.6  K20  emission         detected
14  J063354.40+043935.2  J063354.40+043935.2  K15  emission         detected
15  J063241.74+045338.4  J063241.74+045338.4  K10  emission           missed
17  J063259.37+045622.5  J063259.37+045622.5  K01  emission         detected
18  J035447.92+445619.6  J035447.92+445619.6  K07  emission         detected

In [9]:
lin_double_peak_xmatch[lin_columns]

            designation          Designation   ID      profile      Remark
0   J054853.75+290801.7  J054853.75+290801.7  K19  double-peak   detected
3   J052314.90+374253.6  J052314.90+374253.6  K05  double-peak   detected
4   J062404.17+252508.1  J062404.17+252508.1  K21  double-peak  low $SNR$
7   J063259.01+054756.6  J063259.01+054756.6  K17  double-peak  low $SNR$
13  J055554.66+284706.3  J055554.66+284706.3  K08  double-peak   detected
16  J051502.46+364155.0  J051502.46+364155.0  K06  double-peak  low $SNR$

### Wen Hou,  A catalogue of early-type emission-line stars and H$\alpha$ line profiles from LAMOST DR2

The Hou's catalogue contains 10407 unique spectra. There are some duplicies considering designation. Cross match showed that there are 2077 common spectra. 1822 emissions and 255 double-peaks as classified by our method. Below are two sample the spectra's metadata listed. Each containing 30 spectra.

Note that our candidates are from DR1 which should be subset of DR2.

In [10]:
hou_catalogue = data.read_hou_catalogue('data/hou-emission-2016/CATALOGUE_final.txt')
hou_catalogue.shape[0]

11204

In [11]:
hou_catalogue.sample(5)

,#designation,ra,dec,w1,w1_err,h,h_err,k,k_err,Halpha_type,objtype_Hou,objtype_SIMBAD
9928,J200232.83+460512.9,300.636792,46.086917,14.745,0.029,14.868,0.076,14.575,0.104,II,unknown,-
3842,J030356.66+564522.4,45.986119,56.756239,10.096,0.023,10.395,0.023,10.225,0.020,II,CBe,-
4152,J035210.83+521321.2,58.045161,52.222565,10.459,0.023,10.781,0.032,10.656,0.023,III,CBe,-
6089,J064112.29+103330.9,100.301220,10.558608,11.706,0.024,11.995,0.026,11.842,0.024,II,HII-region,-
1257,J064101.48+065202.1,100.256170,6.867252,12.863,0.025,12.937,0.023,12.933,0.030,II,CBe,-

In [12]:
hou_xmatch = xmatch.xmatch(candidates, hou_catalogue, 'designation', '#designation')
hou_columns = ['designation', '#designation', 'profile', 'Halpha_type', 'objtype_Hou', 'objtype_SIMBAD'] 
hou_xmatch.shape[0]

2077

In [13]:
hou_xmatch['profile'].value_counts()

emission       1822
double-peak     255
Name: profile, dtype: int64

In [14]:
hou_emission_xmatch, hou_double_peak_xmatch = utils.split_according_to_profile(hou_xmatch)

In [15]:
hou_emission_xmatch[hou_columns].sample(30)

,designation,#designation,profile,Halpha_type,objtype_Hou,objtype_SIMBAD
413,J050925.61+375824.7,J050925.61+375824.7,emission,II,CBe,Star
1514,J051049.98+342951.5,J051049.98+342951.5,emission,II,CBe,-
1796,J021559.64+605106.1,J021559.64+605106.1,emission,II,CBe,-
615,J040734.81+472655.5,J040734.81+472655.5,emission,II,CBe,-
1185,J052438.09+334757.9,J052438.09+334757.9,emission,II,unknown,-
1224,J063206.90+042147.4,J063206.90+042147.4,emission,II,HII-region,Star in Cluster
734,J063255.05+051832.1,J063255.05+051832.1,emission,I,HII-region,White Dwarf Candidate
1256,J044721.48+400803.2,J044721.48+400803.2,emission,II,CBe,Emission-line Star
865,J060129.10+252723.5,J060129.10+252723.5,emission,II,HII-region,Blue object
237,J063138.51+050124.1,J063138.51+050124.1,emission,I,HII-region,-
296,J035814.46+051036.9,J035814.46+051036.9,emission,II,HII-region,UV-emission source
1243,J055933.81+252838.5,J055933.81+252838.5,emission,II,HII-region,Star
512,J055343.44+223857.0,J055343.44+223857.0,emission,II,CBe,Star
383,J060106.74+254835.2,J060106.74+254835.2,emission,II,HII-region,-
1753,J064528.24+053731.4,J064528.24+053731.4,emission,II,CBe,-
205,J055848.32+250957.6,J055848.32+250957.6,emission,II,HII-region,-
1178,J052652.14+341937.5,J052652.14+341937.5,emission,II,HII-region,-
876,J051515.19+331252.8,J051515.19+331252.8,emission,II,HII-region,-
772,J063157.75+045749.6,J063157.75+045749.6,emission,II,HII-region,Young Stellar Object Candidate
1600,J063301.34+050145.6,J063301.34+050145.6,emission,II,HII-region,Star in Association
1527,J025608.11+545126.6,J025608.11+545126.6,emission,II,CBe,-
1593,J063354.40+043935.2,J063354.40+043935.2,emission,VI,HII-region,-
418,J053055.63+360823.1,J053055.63+360823.1,emission,II,CBe,-
300,J050047.41+225152.7,J050047.41+225152.7,emission,I,CBe,Star
1831,J051334.77+343701.6,J051334.77+343701.6,emission,II,HII-region,-
733,J063213.74+063216.9,J063213.74+063216.9,emission,II,CBe,Star in Cluster
1958,J051824.05+342505.6,J051824.05+342505.6,emission,II,HII-region,-
453,J054515.43+252829.1,J054515.43+252829.1,emission,II,CBe,-
356,J062401.45+252104.5,J062401.45+252104.5,emission,II,CBe,-
572,J052833.70+312423.3,J052833.70+312423.3,emission,IV,CBe,-

In [16]:
hou_double_peak_xmatch[hou_columns].sample(30)

,designation,#designation,profile,Halpha_type,objtype_Hou,objtype_SIMBAD
822,J044238.81+225455.2,J044238.81+225455.2,double-peak,IV,CBe,-
372,J060559.02+250735.4,J060559.02+250735.4,double-peak,I,CBe,-
295,J061908.29+251019.6,J061908.29+251019.6,double-peak,IV,CBe,-
717,J063726.90+055553.2,J063726.90+055553.2,double-peak,III,HII-region,Star in Cluster
824,J052616.89+370444.7,J052616.89+370444.7,double-peak,III,CBe,Star
998,J052907.77+285336.0,J052907.77+285336.0,double-peak,III,CBe,-
1266,J041706.84+460948.2,J041706.84+460948.2,double-peak,III,CBe,-
1364,J055315.44+301522.6,J055315.44+301522.6,double-peak,IV,CBe,-
1536,J060302.62+311723.8,J060302.62+311723.8,double-peak,III,unknown,-
294,J061324.98+275147.4,J061324.98+275147.4,double-peak,IV,unknown,-
1245,J055257.33+231001.0,J055257.33+231001.0,double-peak,IV,CBe,-
1696,J053843.83+244443.4,J053843.83+244443.4,double-peak,IV,CBe,-
1501,J055655.73+330652.1,J055655.73+330652.1,double-peak,IV,CBe,-
647,J065623.28+444009.6,J065623.28+444009.6,double-peak,VI,unknown,-
122,J051409.70+343403.7,J051409.70+343403.7,double-peak,II,HII-region,-
809,J063732.38+025627.1,J063732.38+025627.1,double-peak,II,CBe,-
619,J060056.78+264537.3,J060056.78+264537.3,double-peak,VI,CBe,-
990,J053144.72+281628.9,J053144.72+281628.9,double-peak,III,unknown,-
137,J044331.19+394246.0,J044331.19+394246.0,double-peak,III,close-binary,Eclipsing binary of Algol type (detached)
707,J063802.45+064024.9,J063802.45+064024.9,double-peak,IV,CBe,Star in Cluster
636,J051546.64+244308.0,J051546.64+244308.0,double-peak,II,CBe,-
625,J055430.75+295739.1,J055430.75+295739.1,double-peak,II,CBe,-
403,J052519.30+385909.3,J052519.30+385909.3,double-peak,II,HII-region,-
1056,J041549.66+322351.2,J041549.66+322351.2,double-peak,VI,CBe,-
1571,J053533.18+252132.5,J053533.18+252132.5,double-peak,IV,CBe,-
1241,J044112.07+411711.0,J044112.07+411711.0,double-peak,II,CBe,-
1641,J060029.69+253925.7,J060029.69+253925.7,double-peak,II,HII-region,Star
1508,J050938.68+324214.0,J050938.68+324214.0,double-peak,IV,CBe,Star
1372,J054855.39+291629.5,J054855.39+291629.5,double-peak,IV,CBe,-
1067,J024248.16+533131.3,J024248.16+533131.3,double-peak,IV,CBe,-

## Save the Cross-matches

To see full list of matches spectra see these files.

In [17]:
lin_xmatch.to_csv('data/lin-xmatch.csv', index=False)
hou_xmatch.to_csv('data/hou-xmatch.csv', index=False)