In [1]:
import pandas
from astropy.io import fits

In [2]:
china_candidates = pandas.read_csv('data/lamost-dr1-be-stars.csv', index_col='id')
china_candidates.head()

             designation
id
K01  J063259.37+045622.5
K02  J035358.25+465351.8
K03  J032910.40+312159.2
K04  J063337.49+044847.0
K05  J052314.90+374253.6

In [3]:
our_candidates = pandas.read_csv('data/candidates.csv')
our_candidates.head()

                                                path  label
0  /lamost/EG034015N073506B04/spec-56207-EG034015...      0
1  /lamost/EG034015N073506B04/spec-56207-EG034015...      0
2  /lamost/EG035637N030328B01/spec-56219-EG035637...      0
3  /lamost/EG035637N030328B01/spec-56219-EG035637...      0
4  /lamost/EG035637N030328B01/spec-56219-EG035637...      0

In [4]:
def get_desig(path):
    with fits.open(path) as hdulist:
        return hdulist[0].header['DESIG'].split()[-1]

get_desig(our_candidates.loc[0, 'path'])

'J033847.35+090103.1'

In [5]:
our_candidates['desig'] = our_candidates['path'].apply(get_desig)

In [6]:
len(our_candidates['desig']), len(china_candidates['designation'])

(12944, 203)

In [7]:
our = set(our_candidates['desig'])
china = set(china_candidates['designation'])
len(our), len(china)

(12030, 203)

In [8]:
len(our & china)

191