In [1]:
import pandas
from astropy.io import fits

In [2]:
china_candidates = pandas.read_csv('data/lamost-dr1-be-stars.csv', index_col='id')
china_candidates.head()

             designation
id
K01  J063259.37+045622.5
K02  J035358.25+465351.8
K03  J032910.40+312159.2
K04  J063337.49+044847.0
K05  J052314.90+374253.6

In [3]:
our_candidates = pandas.read_csv('data/candidates.csv')
our_candidates.head()

                                                path     label
0  /lamost/EG034015N073506B04/spec-56207-EG034015...  emission
1  /lamost/EG034015N073506B04/spec-56207-EG034015...  emission
2  /lamost/EG035637N030328B01/spec-56219-EG035637...  emission
3  /lamost/EG035637N030328B01/spec-56219-EG035637...  emission
4  /lamost/EG035637N030328B01/spec-56219-EG035637...  emission

In [4]:
def get_desig(path):
    with fits.open(path) as hdulist:
        return hdulist[0].header['DESIG'].split()[-1]

get_desig(our_candidates.loc[0, 'path'])

'J033847.35+090103.1'

In [5]:
our_candidates['desig'] = our_candidates['path'].apply(get_desig)

In [6]:
len(our_candidates['desig']), len(china_candidates['designation'])

(12944, 203)

In [7]:
our = set(our_candidates['desig'])
china = set(china_candidates['designation'])
len(our), len(china)

(12030, 203)

In [8]:
xmatch = our & china
len(xmatch)

191

In [9]:
china - xmatch

{'J003720.64+401637.6',
 'J004339.36+411008.6',
 'J004623.13+413847.4',
 'J032910.40+312159.2',
 'J050950.65+314022.1',
 'J051214.46+411300.8',
 'J053549.34+271917.2',
 'J054352.84+281120.4',
 'J060559.66+280247.7',
 'J095810.59+303534.0',
 'J134848.73+031151.7',
 'J151811.89+313849.2'}