# China Cross-match

This notebook presents cross-match of our candidates produced by iterative convolutional network with two catalogues from China. These two catalogues are:

1. Searching for classical Be stars in LAMOST DR1
    - paper: https://arxiv.org/abs/1505.07290
    - catalogue: http://dr1.lamost.org/doc/vac (Classical B-type emission-line (CBe) stars)
2. A catalogue of early-type emission-line stars and H-alpha line profiles from LAMOST DR2
    - paper: https://arxiv.org/abs/1604.03704
    - catalogue: http://dr2.lamost.org/doc/vac (Early-type emission-line stars)

The cross-matching is done according to spectra designations.

In [1]:
from china_xmatch import data
from china_xmatch import xmatch

### Our Candidates

In [2]:
candidates = data.read_candidates('data/candidates-with-metadata.csv')
candidates.shape[0]

12030

In [3]:
candidates.sample(5)

,filename,designation,ra,dec,subclass,mag_r,profile
11044,spec-55939-GAC_104N11_V2_sp14-224.fits,J065017.16+123612.4,102.571540,12.603468,A2V,12.90,double-peak
10384,spec-55969-GAC_080N37_V4_sp05-035.fits,J052028.13+362746.2,80.117229,36.462856,Non,13.68,emission
12694,spec-56306-GAC080N33M1_sp11-104.fits,J052158.54+361015.8,80.493944,36.171063,Non,16.30,emission
4059,spec-55977-F5597703_sp03-047.fits,J112205.78+052115.0,170.524090,5.354170,Non,17.99,emission
4558,spec-56251-GAC058N31F1_sp14-004.fits,J034323.76+321810.9,55.849041,32.303039,G0,17.99,emission

### C.C. Lin, Searching for Classical Be Stars from the LAMOST DR1

The Lin's catalogue contains 203 spectra. Cross match showed that there are 19 common spectra. 13 emissions and 6 double-peaks as classified by our method. Below are all the spectra's metadata listed.

In [4]:
lin_catalogue = data.read_lin_catalogue('data/lin2015tab23.xlsx')
lin_catalogue.shape[0]

203

In [5]:
lin_catalogue.head()

,DR1,Designation,J,Jerr,H,Herr,K,Kerr,Remark,ID
0,558648,J063259.37+045622.5,9.158,0.027,0.027,9.158,0.036,9.087,detected,K01
1,356675,J035358.25+465351.8,9.287,0.022,0.022,9.049,0.028,8.826,detected,K02
2,1542080,J032910.40+312159.2,9.368,0.030,0.030,7.987,0.031,7.173,variant,K03
3,555829,J063337.49+044847.0,9.395,0.024,0.024,8.946,0.023,8.644,poor calibrated,K04
4,567874,J052314.90+374253.6,9.644,0.020,0.020,9.582,0.015,9.475,detected,K05

In [6]:
lin_xmatch = xmatch.xmatch(candidates, lin_catalogue, 'designation', 'Designation')
lin_xmatch.shape[0]

19

In [7]:
lin_xmatch['profile'].value_counts()

emission       13
double-peak     6
Name: profile, dtype: int64

In [8]:
lin_emission_xmatch, lin_double_peak_xmatch = xmatch.split_according_to_profile(lin_xmatch)
lin_columns = ['designation', 'Designation', 'ID', 'profile', 'Remark']
lin_emission_xmatch[lin_columns]

            designation          Designation   ID   profile            Remark
1   J044440.68+503202.1  J044440.68+503202.1  K22  emission         detected
2   J063337.49+044847.0  J063337.49+044847.0  K04  emission  poor calibrated
5   J065513.76+052554.4  J065513.76+052554.4  K23  emission          detected
6   J044927.22+450443.8  J044927.22+450443.8  K12  emission        low $SNR$
8   J063129.76+045449.1  J063129.76+045449.1  K09  emission        low $SNR$
9   J051427.40+324756.8  J051427.40+324756.8  K13  emission  poor calibrated
10  J035358.25+465351.8  J035358.25+465351.8  K02  emission         detected
11  J070534.82+142831.7  J070534.82+142831.7  K16  emission         detected
12  J075704.21+025655.6  J075704.21+025655.6  K20  emission         detected
14  J063354.40+043935.2  J063354.40+043935.2  K15  emission         detected
15  J063241.74+045338.4  J063241.74+045338.4  K10  emission           missed
17  J063259.37+045622.5  J063259.37+045622.5  K01  emission         detected
18  J035447.92+445619.6  J035447.92+445619.6  K07  emission         detected

In [9]:
lin_double_peak_xmatch[lin_columns]

            designation          Designation   ID      profile      Remark
0   J054853.75+290801.7  J054853.75+290801.7  K19  double-peak   detected
3   J052314.90+374253.6  J052314.90+374253.6  K05  double-peak   detected
4   J062404.17+252508.1  J062404.17+252508.1  K21  double-peak  low $SNR$
7   J063259.01+054756.6  J063259.01+054756.6  K17  double-peak  low $SNR$
13  J055554.66+284706.3  J055554.66+284706.3  K08  double-peak   detected
16  J051502.46+364155.0  J051502.46+364155.0  K06  double-peak  low $SNR$

### Wen Hou,  A catalogue of early-type emission-line stars and H$\alpha$ line profiles from LAMOST DR2

The Hou's catalogue contains 10407 unique spectra. There are some duplicies considering designation. Cross match showed that there are 2077 common spectra. 1822 emissions and 255 double-peaks as classified by our method. Below are two sample the spectra's metadata listed. Each containing 30 spectra.

In [10]:
hou_catalogue = data.read_hou_catalogue('data/hou-emission-2016/CATALOGUE_final.txt')
hou_catalogue.shape[0]

10407

In [11]:
hou_catalogue.sample(5)

,#designation,ra,dec,w1,w1_err,h,h_err,k,k_err,Halpha_type,objtype_Hou,objtype_SIMBAD
8200,J061814.15+222526.8,94.558962,22.424120,13.406,0.028,13.693,0.040,13.631,0.032,II,HII-region,-
4507,J061208.65+261656.8,93.036068,26.282455,11.047,0.023,11.172,0.022,11.125,0.022,IV,CBe,Star
7732,J052049.60+322637.9,80.206673,32.443887,13.576,0.027,13.753,0.029,13.644,0.043,II,HII-region,-
1445,J044518.26+305937.2,71.326092,30.993683,15.441,0.043,15.478,0.103,15.286,0.124,II,CBe,-
538,J054723.43+273815.7,86.847629,27.637709,13.549,0.026,13.729,0.029,13.627,0.030,II,CBe,-

In [12]:
hou_xmatch = xmatch.xmatch(candidates, hou_catalogue, 'designation', '#designation')
hou_columns = ['designation', '#designation', 'profile', 'Halpha_type', 'objtype_Hou', 'objtype_SIMBAD'] 
hou_xmatch.shape[0]

2077

In [13]:
hou_xmatch['profile'].value_counts()

emission       1822
double-peak     255
Name: profile, dtype: int64

In [14]:
hou_emission_xmatch, hou_double_peak_xmatch = xmatch.split_according_to_profile(hou_xmatch)

In [15]:
hou_emission_xmatch[hou_columns].sample(30)

,designation,#designation,profile,Halpha_type,objtype_Hou,objtype_SIMBAD
911,J055738.35+182019.2,J055738.35+182019.2,emission,IV,CBe,-
355,J062144.97+254953.3,J062144.97+254953.3,emission,I,unknown,-
1519,J050543.34+353110.7,J050543.34+353110.7,emission,I,CBe,Emission-line Star
1786,J015611.38+580928.6,J015611.38+580928.6,emission,I,CBe,-
246,J062431.47+013854.3,J062431.47+013854.3,emission,II,CBe,Star
1486,J052116.24+332012.6,J052116.24+332012.6,emission,II,HII-region,-
1180,J052427.38+332056.6,J052427.38+332056.6,emission,II,HII-region,Star in Association
1012,J053143.29+334957.0,J053143.29+334957.0,emission,II,HII-region,-
554,J064354.12+090344.6,J064354.12+090344.6,emission,II,HII-region,-
1929,J055945.75+263232.9,J055945.75+263232.9,emission,II,CBe,-
1469,J052148.11+332725.2,J052148.11+332725.2,emission,II,HII-region,Star in Association
662,J044324.22+542816.5,J044324.22+542816.5,emission,I,CBe,Star
674,J054828.90+312019.2,J054828.90+312019.2,emission,IV,CBe,-
1944,J055640.87+244651.6,J055640.87+244651.6,emission,II,CBe,-
1925,J054113.78+273938.5,J054113.78+273938.5,emission,I,HAeBe,-
1884,J063853.32+094951.8,J063853.32+094951.8,emission,II,HII-region,-
1672,J063252.24+044433.3,J063252.24+044433.3,emission,I,HII-region,-
491,J045637.76+433722.7,J045637.76+433722.7,emission,IV,CBe,-
546,J064719.85+111819.7,J064719.85+111819.7,emission,II,CBe,Star in Cluster
1146,J052539.02+331950.2,J052539.02+331950.2,emission,II,HII-region,-
1020,J053728.31+340038.7,J053728.31+340038.7,emission,II,CBe,-
1259,J044045.25+423538.0,J044045.25+423538.0,emission,I,CBe,Emission-line Star
843,J035432.51+325333.4,J035432.51+325333.4,emission,II,HII-region,-
1205,J052139.58+334137.8,J052139.58+334137.8,emission,I,HII-region,-
1675,J063312.96+022935.6,J063312.96+022935.6,emission,II,HII-region,-
1414,J052136.01+332252.7,J052136.01+332252.7,emission,I,HII-region,-
1867,J035451.93+445304.1,J035451.93+445304.1,emission,VI,CBe,-
382,J055709.28+262741.1,J055709.28+262741.1,emission,II,CBe,-
1507,J050210.18+323430.0,J050210.18+323430.0,emission,I,unknown,Emission-line Star
1420,J052443.14+323931.9,J052443.14+323931.9,emission,I,HII-region,-

In [16]:
hou_double_peak_xmatch[hou_columns].sample(30)

,designation,#designation,profile,Halpha_type,objtype_Hou,objtype_SIMBAD
81,J033847.21+521507.9,J033847.21+521507.9,double-peak,III,CBe,-
1092,J063755.35+050442.2,J063755.35+050442.2,double-peak,IV,HII-region,-
1056,J041549.66+322351.2,J041549.66+322351.2,double-peak,VI,CBe,-
4,J041215.03+511203.1,J041215.03+511203.1,double-peak,II,CBe,-
926,J052021.77+391925.9,J052021.77+391925.9,double-peak,III,CBe,Emission-line Star
1495,J053022.08+320220.7,J053022.08+320220.7,double-peak,II,CBe,-
73,J054553.52+293645.9,J054553.52+293645.9,double-peak,III,unknown,-
1324,J063952.65+103040.6,J063952.65+103040.6,double-peak,II,HII-region,-
1571,J053533.18+252132.5,J053533.18+252132.5,double-peak,IV,CBe,-
1109,J064045.04+042308.1,J064045.04+042308.1,double-peak,II,CBe,Star in Cluster
1539,J054330.14+234840.7,J054330.14+234840.7,double-peak,IV,HII-region,-
1291,J065655.65+110817.4,J065655.65+110817.4,double-peak,III,CBe,-
958,J050508.01+404038.4,J050508.01+404038.4,double-peak,IV,CBe,Emission-line Star
104,J052713.65+330449.3,J052713.65+330449.3,double-peak,IV,HII-region,-
1054,J025303.18+533316.3,J025303.18+533316.3,double-peak,IV,CBe,-
1107,J064536.24+044904.8,J064536.24+044904.8,double-peak,IV,unknown,-
85,J065024.36+044645.4,J065024.36+044645.4,double-peak,IV,CBe,-
1348,J035022.41+440328.4,J035022.41+440328.4,double-peak,IV,CBe,Star
1459,J051945.45+351410.9,J051945.45+351410.9,double-peak,III,HII-region,-
316,J063348.82+181536.3,J063348.82+181536.3,double-peak,II,CBe,-
2073,J070010.15+231719.1,J070010.15+231719.1,double-peak,IV,CBe,Star
825,J051546.40+360119.6,J051546.40+360119.6,double-peak,IV,CBe,-
1252,J055654.23+220545.2,J055654.23+220545.2,double-peak,II,CBe,Star
1670,J051054.40+481357.4,J051054.40+481357.4,double-peak,IV,CBe,-
1864,J055855.66+331231.2,J055855.66+331231.2,double-peak,III,CBe,-
22,J052711.76+332210.7,J052711.76+332210.7,double-peak,II,HII-region,-
1980,J051544.57+331837.2,J051544.57+331837.2,double-peak,II,HII-region,-
675,J055304.77+312759.2,J055304.77+312759.2,double-peak,II,CBe,-
634,J055952.68+300532.1,J055952.68+300532.1,double-peak,III,CBe,-
513,J055807.07+184449.0,J055807.07+184449.0,double-peak,VI,CBe,-

## Save the Cross-matches

To see full list of matches spectra see these files.

In [17]:
lin_xmatch.to_csv('data/lin-xmatch.csv', index=False)
hou_xmatch.to_csv('data/hou-xmatch.csv', index=False)